#contenedor {
  display: flex;
  width: 100%;
  height: 700px;
  border: 1px solid blue;
  flex-direction: column; /*column o row*/
  justify-content: center;
  align-items: center;
}

.elemento {
  width: 150px;
  /*flex: 1;*/ /* Proporcion es igual para los elementos*/
  height: 150px;
}

#elemento1 {
  background-color: red;
}

#elemento2 {
  background-color: royalblue;
  /*flex: 2;*/
}

#elemento3 {
  background-color: green;
}
